<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Apology</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="body">
    <div class ="centre">
        <div class="apo-image">
            {% block main %}
            <img alt="{{ top }}" class="border" href="/static/corona.jpeg" title="{{ top }}">
        {% endblock %}
        </div>
        <div class="apo-text">
            <p>
            The page cannot be displayed. Perhap's you can return back to sites <a href="/">homepage</a> and see if you can find what you are looking for.
            </p> 
        </div> 
    </div>  
</div>

</html>
