


<!DOCTYPE html>
​
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>314e Vaccination forum</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styleFirst.css">    
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="logo.svg" alt="314e logo">
        </div>
    
<ul class="nav-area">
<li><a href="/templates/login.html">Login</a></li>
​
</ul>
</div>
<div class="welcome-text">
        <h1>
     <span>314e Corporation Vaccination</span></h1>
<a href="https://www.314e.com/">Contact US</a>
    </div>
</header>
<div class="banner">
    <div class="banner-text">
        <div class="banner-text-items">
            <h2>Covid-19 Vaccine</h2>
            <p>A COVID‑19 vaccine is a vaccine intended to provide acquired immunity against severe acute respiratory syndrome coronavirus 2 (SARS‑CoV‑2), the virus that causes coronavirus disease 2019 (COVID‑19). The COVID‑19 vaccines are widely celebrated for their role in reducing the spread, severity, and death caused by COVID-19.
​
                Many countries have implemented phased distribution plans that prioritize those at highest risk of complications, such as the elderly, and those at high risk of exposure and transmission, such as healthcare workers.Single dose interim use is under consideration to extend vaccination to as many people as possible until vaccine availability improves.
                </p>
        </div>
    </div>
</div>
    <div class="first-content">
        <div class="main1">
            <h2>Vaccination Programme in india</h2>
            <p>India began administration of COVID-19 vaccines on 16 January 2021 (156 days ago). As of 21 June 2021, India has administered 288,766,201 doses overall, including first and second doses of the currently-approved vaccines.
​
                Two vaccines received approval for emergency use in India at the onset of the programme; Covishield—a brand of the Oxford–AstraZeneca vaccine manufactured by the Serum Institute of India, and Covaxin, which was developed by Bharat Biotech. In April 2021, the Indian government approved the Russian Sputnik V vaccine (which is distributed locally by Dr. Reddy's Laboratories) as a third vaccine, which began use in May 2021. On 21 June 2021, India vaccinated 8.4 million of its population in one day.
                </p>
        </div>
    </div>
    <div class="main-content">
        <div class="main1"><h2>Vaccines Used in India</h2></div>
        
        
        
            
            <div class="main2">
                <h3>Covaxin</h3>
                    <p>The Covaxin manufactured by Bharat Biotech is an inactivated vaccine which contains the dead virus. This triggers an immune response, but does not make the person sick. The preliminary data of the Phase 3 trials shows that Covaxin has a an efficacy rate of 81 per cent. The duration between the two doses is 28 days</p>
            </div>
            <div class="main2">  
                    <h3>Covishield</h3>
                    <p>The Oxford-AstraZeneca vaccine is produced by the Serum Institute of India (SII). The vaccine is based on the viral vector platform and is made from a weakened version of a common cold virus from chimpanzees. Covishield is a two dose shot which is administered 12 weeks apart. It has an efficacy of 70 per cent</p>
            </div>
            <div class ="main2">
                    <h3>Sputnik V</h3>
                    <P>The Sputnik V is manufactured by the Gamaleya Institute, Moscow. This is also a vector vaccine based on an adenovirus. Two slightly different versions of the vaccine are administered 21 days apart. Sputnik V has an efficacy of 92 per cent.</P>
            </div>
        
    </div>
</body>
</html>
