<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>314e Vaccination forum</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id ="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Sign In</button>
                <button type="button" class="toggle-btn" onclick="register()">Sign Up</button>
            </div>
            <form id="login" class="input-group">
                <input type="text" class="input-field" id = "EmailId" placeholder="Email id"
                required>
                <input type="text" class="input-field" id ="Password" placeholder="Enter Password"
                required>
                <input type="checkbox" class="check-box"><span>Remember Password</span>
                <button type="submit" class="submit-btn">Log In</button>
            </form>
            <form id="register" class="input-group">
                <input type="email" class="input-field" id = "email"placeholder="Email Id"
                required>
                <input type="text" class="input-field" id = "Confpass" placeholder="Enter Password"
                required>
                <input type="text" class="input-field" id = "mobilenumber"placeholder="Enter Mobile Number"
                required>
                <input type="checkbox" class="check-box"><span>I agree to terms 
                    & conditions
                </span>
                <button type="submit" class="submit-btn">Register</button>
            </form>
        </div>
    </div>
    <script src="loginpage.js"> </script>
    
</body>
</html>
